vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|28 Apr 2014 13:14:27 -0000
vti_author:SR|NGR-WIN8-00\\Nikolay
vti_modifiedby:SR|NGR-WIN8-00\\Nikolay
vti_nexttolasttimemodified:TW|28 Apr 2014 13:14:27 -0000
vti_timecreated:TR|21 Jun 2014 16:13:48 -0000
vti_cacheddtm:TX|21 Jun 2014 16:13:48 -0000
vti_filesize:IR|948
vti_cachedtitle:SR|{SITENAME}
vti_cachedbodystyle:SR|<body marginheight="0" marginwidth="0" topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0">
vti_cachedlinkinfo:VX|Q|{U_STYLESHEET} H|{U_FORUM} H|{U_LOG_IN}
vti_cachedsvcrellinks:VX|NQUS|fc/templates/main/{U_STYLESHEET} NHUS|fc/templates/main/{U_FORUM} NHUS|fc/templates/main/{U_LOG_IN}
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=content-type text/html;\\ charset=utf-8 HTTP-EQUIV=imagetoolbar no HTTP-EQUIV=X-UA-Compatible IE=edge,chrome=1 viewport width=device-width
vti_charset:SR|utf-8
vti_title:SR|{SITENAME}
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_syncofs_u19121.ftp.masterhost.ru\:21/phpbb.aliyah.co/www:TW|28 Apr 2014 13:14:27 -0000
vti_syncwith_u19121.ftp.masterhost.ru\:21/phpbb.aliyah.co/www:TW|21 Jun 2014 16:13:48 -0000
